header {
    padding: 15px 0px;
    width: auto;
    display: grid;
    grid-template-columns: 20% 16% 16% 16% 16% 16%;
    grid-template-rows: 1fr;
    background: lightgray;
}
button {
    background: blue;
    color: black;
    font: 25px Verdana;
    border: 5px black;
    border-collapse: collapse;
    vertical-align: middle;
    margin-left: 50px;
    margin-top: 30px;
}
@media screen and (max-width: 400px) {
    .header {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        width: auto;
    }

    img {
        grid-row: 1;
        grid-column: 1;
        width: 80vw;
        margin: auto;
    }

    button {
        grid-row: 2;
        grid-column: 1;
        height: 20vw;
        width: 70vw;
        margin: auto;
        text-align: center;
        vert-align: middle;
        font-size: 20px;
    }
}
@media screen and (max-width: 800px ) and (min-width: 401px) {


    .header {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        width: auto;
        margin: auto;
    }
    img {
        grid-row: 1;
        grid-column: 1;
        width: 90vw;
    }
    button {
        grid-row: 1;
        grid-column: 2;
        margin: auto;
    }
}
