.header {
    padding: 15px 30px;
}
.photo {
    padding: 5px 30px;
}
.two, .three{
    font: 30px Verdana;
    padding: 5px 30px;
    background: lightgray;
}
.one {
    font: 50px Verdana;
    color: blue;
    padding: 5px 500px 5px 5px;
    }
.two, .three {
    float: left;
    width: 47%;
    }
.one {
    float: left;
}
.photo {
    float: left;
}
span {
    margin: 600px;
    }